<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FHGR Knowledge Engineering and Extraction</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <header>
            <h3 class="header-logo"><span class="header-logo-letter">S</span>tackoverflow Insights</h3>
            <ul>
                {% if languages_people_want_to_work_with == True %}
                    <li><a href="{{url_for('index')}}">Programming Languages People are working in</a></li>
                    <li><a class="active" href="{{url_for('languages_people_want_to_work_with')}}">Programming Languages People want to work in</a></li>
                {% else %} 
                    <li><a class="active" href="{{url_for('index')}}">Programming Languages People are working in</a></li>
                    <li><a href="{{url_for('languages_people_want_to_work_with')}}">Programming Languages People want to work in</a></li>
                {% endif %}    
            </ul>
        </header>

        <main>
            <h2>Select your Programming Language</h2>

            <div class="programming-card-grid">
                {% for language in programming_languages  %}
                    <div class="programming-card">
                        <div class="programming-card-header">
                            <h3 class="programming-language-title"><a href="{{language.url}}" target="_blank">{{language.name}}</a></h3>
                            <a class="programming-language-details" href="{{url_for('details', programming_language_name = language.name)}}">Details</a> 
                        </div>

                        {% if language.use_cases|length > 0 %}
                            <p><b>Use Cases</b></p>
                            <ul class="programming-card-use-cases">
                                {% for use_case in language.use_cases %}
                                    <li><a href="{{use_case.url}}" target="_blank">#{{use_case.name}}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p><b>No Use Cases</b></p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>        
        </main>
    </body>

</html>