<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FHGR Knowledge Engineering and Extraction</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <header>
            <h3 class="header-logo"><span class="header-logo-letter">S</span>tackoverflow Insights</h3>
            <ul>
                <li><a href="#">Programming Languages People are working in</a></li>
                <li><a href="#">Programming Languages People want to work in</a></li>
            </ul>
        </header>

        <main>
            <h2>Select your Programming Language</h2>

            <div class="programming-card-grid">
                <div class="programming-card">
                    <div class="programming-card-header">
                        <h3 class="programming-language-title"><a href="#">Python</a></h3> 
                        <p>Rank <b>1</b> out of 10</p>           
                    </div>

                    <p><b>Use Cases</b></p>
                    <ul class="programming-card-use-cases">
                        <li><a href="#">#abc</a></li>
                        <li><a href="#">#abc</a></li>
                        <li><a href="#">#abc</a></li>
                    </ul>
                </div>

                <div class="programming-card">
                    <div class="programming-card-header">
                        <h3 class="programming-language-title"><a href="#">Python</a></h3> 
                        <p>Rank <b>1</b> out of 10</p>           
                    </div>

                    <p><b>Use Cases</b></p>
                    <ul class="programming-card-use-cases">
                        <li><a href="#">#abc</a></li>
                        <li><a href="#">#abc</a></li>
                        <li><a href="#">#abc</a></li>
                    </ul>
                </div>

                <div class="programming-card">
                    <div class="programming-card-header">
                        <h3 class="programming-language-title"><a href="#">Python</a></h3> 
                        <p>Rank <b>1</b> out of 10</p>           
                    </div>

                    <p><b>Use Cases</b></p>
                    <ul class="programming-card-use-cases">
                        <li><a href="#">#abc</a></li>
                        <li><a href="#">#abc</a></li>
                        <li><a href="#">#abc</a></li>
                    </ul>
                </div>

                <div class="programming-card">
                    <div class="programming-card-header">
                        <h3 class="programming-language-title"><a href="#">Python</a></h3> 
                        <p>Rank <b>1</b> out of 10</p>           
                    </div>

                    <p><b>Use Cases</b></p>
                    <ul class="programming-card-use-cases">
                        <li><a href="#">#abc</a></li>
                        <li><a href="#">#abc</a></li>
                        <li><a href="#">#abc</a></li>
                    </ul>
                </div>
            </div>        
        </main>
    </body>

</html>